* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: rgb(219, 216, 216);
  min-height: 100vh;

  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 2rem 3rem;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5ch;
  line-height: 2.5rem;
}

#grid {
  background-color: white;
  width: 250px;
  height: 250px;
  margin-bottom: 3rem;
  touch-action: none;
  cursor: pointer;
  display: grid;
}

.cell {
  background-color: rgb(240, 240, 240);
  opacity: 1.0;
}

#controls {
  font-size: 0.8rem;
  letter-spacing: 0.1ch;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.slide-container {
  width: 80%;
  display: flex;
  justify-content: center;
}

#slider {
  text-align: center;
  appearance: none;
  width: 80%;
  background: rgb(124, 123, 123);
  outline: none;
  height: 5px;
  border-radius: 5px;
  opacity: 0.7;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  appearance: none;
  background: white;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  appearance: none;
  background: white;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

footer {
  margin-top: 2rem;
  height: 5rem;
  padding: 1rem;
  font-size: 0.8rem;
}

span {
  padding-right: 3px;
  opacity: 0.7;
}

a {
  color: rgb(219, 216, 216);
  text-decoration: none;
  padding-right: 0.7rem;
  opacity: 0.7;
}

a:hover {
  opacity: 1;
}

.links {
  padding-top: 0.6rem;
  font-size: 1.2rem;
  text-align: center;
}

#grid::selection {
  background: none;
  color: none;
}

#grid::-moz-selection {
  background: none;
  color: none;
}

@media (min-width: 360px) {
  #grid {
    width: 340px;
    height: 340px;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.1rem;
  }

  #grid {
    width: 500px;
    height: 500px;
  }

  #controls {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
  }

  .slide-container {
    width: 25%;
    flex-grow: 2;
  }

  .current-size {
    flex-grow: 2;
    text-align: right;
  }

  footer {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .links {
    padding-top: 0;
  }
}

@media (min-width: 800px) {
  
  h1 {
    font-size: 2.5rem;
  }

  #grid {
    width: 600px;
    height: 600px;
  }

  .slide-container {
    width: 35%;
  }
}