* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-dark: rgb(0, 0, 0);
  --clr-light: rgb(219, 216, 216);
  --clr-med: gray;
  --clr-med-dark: rgb(65, 66, 67);
  --clr-highlight: rgb(88, 95, 221);

  --br: 1px;

  --ff: 'Montserrat';
  --ls-narrow: 0.2ch;
  --ls-wide: 0.5ch;
}

body {
  position: relative;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  min-height: 100vh;

  font-family: var(--ff, sans-serif);
  text-transform: uppercase;
  letter-spacing: var(--ls-narrow);

  display: flex;
  flex-direction: column;

}

.test {
  position: absolute;
  transition: all 300ms ease-in-out;

}

.test[data-fx="false"] {
  transition: all 300ms ease-in-out
}

.test[data-fx="true"] {
  inset: 0;
  backdrop-filter: brightness(20%);
  
  transition: all 300ms ease-in-out;
  isolation: isolate;
}

.container {
  position: relative;
  width: min(95%, 100em);
  max-width: 95%;
  margin-inline: auto;
}

.clickable {
  cursor: pointer;
  opacity: 1;
  transition: all 300ms ease-in-out;

}

.clickable:hover,
.clickable:focus {
  opacity: 0.8;
}

header {
  position: relative;
  padding-block: 1em;
  padding-block: clamp(1em, 5vh, 1rem);
  backdrop-filter: blur(20px);
  z-index: 1;
}

.header__container {
  margin-inline: auto;
  width: min(95%, 100em);
  max-width: 95%;
  display: grid;
  grid-template-columns: 2.5em 1fr 2.5em;
  align-items: center;
}

.header__title {
  text-align: center;
  font-size: 2rem;
  font-size: clamp(1.5rem, 1.1rem + 1vw, 1.9rem);
  
  font-weight: 500;
  letter-spacing: var(--ls-wide);
  line-height: 1.1;

  grid-column: 2 / 3;
}

.btn {
  padding-block: 1em;
  opacity: 1;
  font-family: var(--ff, sans-serif);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: var(--ls-narrow);
  border: 0;
  border-radius: var(--br);
  cursor: pointer;
  flex: 1;
  transition: all 300ms ease-in-out;
}

.btn:active {
  transform: scale(.5);
}

.fa-chevron-down,
.fa-chevron-up {
  color: var(--clr-light);
  font-size: 1.5rem;
}

.header__menuBtn {
  display: block;
  top: 0;
  right: 0;
  width: 2rem;
  aspect-ratio: 1;
  z-index: 99;
  background-color: transparent;
  margin-inline: auto;
  opacity: 1;
  border: none;

}

.menuBtn:hover, .menuBtn:focus {
  opacity: 0.8;
}

.header__nav {
  z-index: 2;
}

/* [aria-expanded="true"] { */
  /* background-image: url('images/chevron-up.svg'); */
/* } */

ul {
  list-style: none;
  position: relative;
}

.header__nav-list {
  background-color: transparent;
  pointer-events: none;
  width: clamp(50px, 10em, 20em);
  position: absolute;
  top: 3rem;
  right: 1rem;
  opacity: 0;
  padding: 2em 1.5em;
  border-radius: var(--br);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2em;
  transition: all 300ms ease-in-out;
  transform: translateY(-3rem);
}

.header__nav-list.active {
  background-color: var(--clr-med-dark);
  pointer-events: all;
  position: absolute;
  top: 3rem;
  right: 1rem;
  z-index: 999;
  transition: all 300ms ease-in-out;
  transform: translateY(3rem);
  opacity: 1;
  isolation: isolate;
}

.header__nav-item {
  font-size: 0.8rem;
}

.header__nav-item + .header__nav-item {
  padding-top: 2em;
  border-top: 1px solid var(--clr-med);
}

.saveBtn {
  background-color: transparent;
  color: var(--clr-light);

  outline: 2px solid var(--clr-med);
  outline-offset: -2px;
  min-width: max-content;
}

.fa-check {
  color: rgb(5, 249, 5);
  width: 1rem;
  margin-left: 0.4em;
}

.hidden,
.nav__arrow.hidden {
  display: none;
}

main {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  margin-block: clamp(0.8em, 0.8em + 1vh, 1.5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
}

#main__grid {
  position: relative;
  background-color: white;
  width: clamp(50vw, 100%, 600px);
  height: clamp(50vw, 100%, 600px);
  aspect-ratio: 1;

  margin: 0 auto;
  touch-action: none;
  cursor: pointer;
  display: grid;
}

.cell {
  background: black;
  opacity: 0;
  flex: 1;
}

.grid__cellContainer {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

[data-gridlines="true"] {
  outline: 1px dotted var(--clr-highlight);
}

[data-toggleEvents="true"] {
  z-index: -1;
  pointer-events: none;
}

#main__controls {
  position: relative;
  margin-block: 0.3em;
  margin-inline: auto;
  width: 50%;
  width: min(100%, 600px);
  width: clamp(50vw, 100%, 600px);
  font-size: 0.8rem;
  letter-spacing: 0.1ch;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 3em;
}

.controls__toggleGridlines {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.controls__label {
  font-size: 0.9rem;
  font-weight: 500;
}

.switch {
  position: relative;
  display: inline-block;

  width: 2.4rem;
  height: 1.2rem;
  background-color: var(--clr-med);
  border-radius: 100px;
}

.switch::after {
  content: '';
  position: absolute;

  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--clr-light);

  top: 0.1rem;
  left: 0.1rem;
  transition: all 0.3s;
}

.controls__switch:checked + .switch::after {
  left: 1.3rem;
}

.controls__switch:checked + .switch {
  background-color: var(--clr-highlight);
}

.controls__switch {
  /* display: none; */
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
  background-color: black;
}

.controls__slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}

.slide-container {
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex: 1;
}

#slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  outline: none;
  height: 0.4rem;
  border-radius: 5px;
  opacity: 1;
  color: var(--clr-dark);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

#slider:hover,
#slider:focus {
  opacity: 0.7;
}

#slider::-webkit-slider-runnable-track {
  background-color: var(--clr-med);
  height: 0.4rem;
  border-radius: 5px;
}

#slider::-moz-range-track {
  background-color: var(--clr-med);
  height: 0.4rem;
  border-radius: 5px;  
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--clr-light);
  width: 1rem;
  height: 1rem;
  border-radius: var(--br);
  margin-top: -0.3rem;
  /* Center thumb by subtracting half thumb height from half track height */
  margin-top: calc(0.4rem/2 - 1rem/2);
}

#slider::-moz-range-thumb {
  border: none;
  border-radius: var(--br);
  background-color: var(--clr-light);
  width: 1rem;
  height: 1rem;
}

#slider:focus {
  outline: none;
}

#slider:focus::-webkit-slider-thumb {
  border: 1px solid white;;
  outline: 1px solid white;
  outline-offset: 0.125rem;
}

#slider:focus::-moz-range-thumb {
  border: 1px solid white;;
  outline: 1px solid white;
  outline-offset: 0.125rem;
}

#slider::-ms-fill-lower {
  background-color: var(--clr-light);
}

#slider::-moz-range-progress {
  background-color: var(--clr-light);
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select:focus {
  outline: none !important;
}

.controls__buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5em;
}

.clearBtn {
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

.clearBtn:hover,
.clearBtn:focus {
  opacity: 0.7;
}

.clearBtn, .saveBtn {
  width: clamp(140px, 100%, 100%);
  padding-inline: 2em;
  flex: 1;
  opacity: 1;
}

.btn:active {
  transform: scale(.95);
}

footer {
  position: relative;
  padding-block: 2em;
  font-size: 0.7rem;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 0.7rem);
  text-align: center;
}

a {
  color: var(--clr-light);
  text-decoration: none;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

a:hover {
  color: var(--clr-highlight);
}

.footer__container {
  width: 300px;
  width: clamp(260px, 65%, 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  row-gap: clamp(0.2em, 0.2em + 1vh, 0.6em);
  
}

.footer__links {
  font-size: 1.1rem;
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.1rem);
  display: flex;
}

.footer__icon {
  padding: 0.5em;
}

#main__grid::selection {
  background: none;
  color: none;
}

#main__grid::-moz-selection {
  background: none;
  color: none;
}

@media (orientation: landscape) {
  .header__container {
    display: flex;
    justify-content: space-between;
  }

  .header__menuBtn {
    display: none;
  }

  .header__nav-list {
    padding: 0;
    pointer-events: all;
    position: relative;
    right: 0;
    flex-direction: row;
    column-gap: clamp(1em, 1em + 1vw, 2em);
    opacity: 1;
    transition: all 300ms ease-in-out;

  }

  .header__nav-item + .header__nav-item {
    border: none;
    padding-top: 0;
  }

  .main__container {
    flex-direction: row;
    justify-content: center;
    gap: clamp(2em, 2em + 2vw, 10em);
  }

  #main__controls {
    gap: clamp(3em, 3em + 1vw, 8em);
  }

}
