* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(16, auto);
  justify-content: center;
  border: 1px solid green;
}

.cell {
  background-color: red;
  width: 20px;
  height: 20px;
  border: 1px solid blue;
}

.cell:hover {
  background-color: white;
}